@{
    ViewBag.Title = "About WIT";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The Wium Issue Tracker is a project made for use as
    a simple tracker application for small group or solo projects
    and as practice.
</p>
<br />
<p>
    The SRS can be found here:
    <a href="~/Content/TextFiles/IssueTrackerSRS.pdf" download>WIT_SRS.pdf</a>
</p>