@{
    ViewBag.Title = "About WIT";
}
<h2>@ViewBag.Title.</h2>
<!--No Longer in use-->
<p>
    The Wium Issue Tracker is a practice project made for use as
    a simple tracker application for small projects. It uses a MSSQL database 
    and allows for users to setup projects and create issue objects to track the 
    progress of the project. The project was made with the Entity Framework code
    first approach.
</p>
<br />
<p>
    The SRS can be found here:
    <a href="~/Content/TextFiles/WIT_SRS.pdf" download>WIT_SRS.pdf</a>
</p>