@{
    ViewBag.Title = "Home Page";
}
<!--
<div class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar">
                <li><button type="button" class="btn btn-secondary">Name</button></li>
                <li><button type="button" class="btn btn-secondary">Key</button></li>
                <li><button type="button" class="btn btn-secondary">Date</button></li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar">
                <li><button onclick="location.href='ATUrl.Action("Index", "Home")'"  class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> New Project</button></li>
                <li><button class="btn btn-secondary">
                    <i class="fa fa-refresh" aria-hidden="false"></i> Refresh</button></li>
            </ul>
        </div>
    </div>
</div>
-->


<div class="row">
    <div class="col-md-4">
        <h2>About WIT</h2>
        <p>The Wium Issue Tracker is used to coordinate projects between groups of people right from the browser.
           It allows for users to setup projects, invite each other, and create issue objects to track the
           progress of projects. Registering and logging in is required to ensure authentication.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tools Used In Development</h2>
        <p>Was made in ASP.NET MVC with Code First Approach and Entity Framework. The database runs on
           Microsoft SQL Server Express. The front end uses Html and CSS, along with libraries like bootstrap and font awesome.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Software Requirement Specifications</h2>
        <p>The SRS can be found here:</p>
        <p><a class="btn btn-default" href="~/Content/TextFiles/WIT_SRS.pdf" download>Download &raquo;</a></p>
    </div>
</div>