@{
    ViewBag.Title = "Home Page";
}

    <div class="row justify-content-center">
        <div class="col-xl-3">
            <div class="card shadow mb-4" >
                <div class="card-header py-3">
                    <div class="m-0 h6 font-weight-bold text-primary">About WIT</div>
                </div>
                <div class="card-body">
                    <div>
                        The Wium Issue Tracker is used to coordinate projects between groups of people right from the browser.
                        It allows for users to setup projects, invite each other, and create issue objects to track the
                        progress of projects.
                    </div>
                    <div class="mb-0">Registering and logging in is required to ensure authentication.</div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-3">
            <div class="card shadow mb-4" >
                <div class="card-header py-3">
                    <div class="m-0 h6 font-weight-bold text-primary">Tools Used in Development</div>
                </div>
                <div class="card-body">
                    <div>
                        Made in ASP.NET MVC with Code First Approach and Entity Framework. The database runs on
                        Microsoft SQL Server Express. The front end uses Html and CSS, along with libraries like bootstrap and font awesome.
                    </div>
                    <div class="mb-0">Uses SB Admin 2 theme from https://startbootstrap.com/themes/ </div>
                    <div class="mb-0">Uses https://datatables.net/ </div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-3">
            <div class="card shadow mb-4 " >
                <div class="card-header py-3">
                    <div class="m-0 h6 font-weight-bold text-primary">Software Requirement Specifications</div>
                </div>
                <div class="card-body">
                    <div>
                        The SRS can be found here:
                    </div>
                    <div class="mb-0"><a class="btn btn-primary" href="~/Content/TextFiles/WIT_SRS.pdf" download>Download &raquo;</a></div>
                </div>
            </div>
        </div>

    </div>